[2018-07-14 11:19] ghost opened #1 "list.txt isnt getting generated"

[2018-07-14 11:34] phanirithvij2000 commented on #1
I'll fix it as soon as possible
Thanks for trying this
But I recommend using [anime_downloader](https://github.com/vn-ki/anime-downloader/)
If you are comfortable with python

[2018-07-23 11:40] phanirithvij opened #2 "Help wanted to decrypt the twist.moe api"

[2018-07-23 17:30] phanirithvij commented on #2
Found the key
[code]
from [anime_downloader](https://github.com/vn-ki/anime-downloader)

[2018-07-25 09:02] phanirithvij commented on #2
Planning to fix this and make a python twist.moe

[2018-07-25 17:54] #2 closed, assigned to nobody

[2018-07-25 17:58] phanirithvij commented on #1
fixed #1 #2

[2018-11-11 21:08] khalisafkari opened #8 "Help"
please help how to decrypt url video twist via js node

[2018-11-11 22:26] #8 closed, assigned to nobody

[2019-04-04 21:06] phanirithvij opened #9 "Curl says found illegal characters [windows]"
Example

for JoJo's Bizarre Adventure
`jojo-s-bizarre-adventure`

Running `download.sh` will warn and downloads only the last episode.

[code]

[2019-04-05 10:02] khalisafkari commented on #9
Try to copy url and open in the browser

[2019-04-20 11:52] FieldWolf opened #10 "Anime not downloading"
I am having issues downloading anime using this tool.

Commands performed:
1. ./startp.sh
2. Enter link from any anime: https://twist.moe/a/one-punch-man-2
3. Press enter
4. `Enter link from https://twist.moe/
https://twist.moe/a/one-punch-man-2
Creating one-punch-man-2
making it https://twist.moe/a/one-punch-man-2/1
Fetching info...
https://twist.moe/anime/onepunchmans2/[HorribleSubs] One Punch M

[2019-05-19 12:09] phanirithvij commented on #10
Sorry man I just saw this issue.
I fixed it.
There was a problem with how I was handling the download.
Do a `git pull`. And close the issue if it works

[2019-05-19 12:28] phanirithvij commented on #8
Look at decrypt.py file and convert it to nodejs

[2019-05-19 12:29] phanirithvij commented on #9
Fixed 😅

[2019-05-19 12:29] #9 closed, assigned to phanirithvij

[2019-05-26 13:45] CaptainBasculin opened #11 "Syntax Error at jsonP.py, line 5"
self explanatory title

[2019-05-26 17:44] Mammutor opened #12 "Installation not working with Python"
I cloned your program with "cmder". After that  I opened Python and entered "pip install pycryptodome" but there comes out a syntax error. I dont know how Python works and there is no tutorial how to use or to navigate to the downlaod folder.

[2019-05-31 15:21] phanirithvij commented on #11
I will fix it asap.
I have a problem with my Linux machine.

[2019-06-01 11:03] phanirithvij commented on #12
To install pycryptodome you need to do it from the terminal itself, **not** from the python console.
try doing it from the cmder itself

[code]
or you could try
[code]
or
[code]

[2019-06-01 11:04] phanirithvij commented on #11
And please tell me what are you using is it a linux or a windows machine?

[2019-06-01 11:20] Mammutor commented on #12
![twist moe](https://user-images.githubusercontent.com/44206081/58747837-d702cf80-8470-11e9-8c2b-0078909b40b9.png)
C:\Users\Mammu\Downloads\twist.moe\twist.moe
λ pip install pycryptodome
Der Befehl "pip" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

C:\Users\Mammu\Downloads\twist.moe\twist.moe
λ python -m pip install pycryptodome
Der Befehl "python" ist entweder falsch geschr

[2019-06-01 16:50] phanirithvij commented on #12
Ok it seems like python is not in your path variable.

Now you have two ways to resolve this.

1. Uninstall python from control panel and reinstall it from what you
already downloaded and don't forget to tick the add to Path option when
installing.

2. You can manually add the python path to the system env variables. Go to
search and search for "env" and you can find the Environment variables then

[2019-06-01 17:46] Mammutor commented on #12
It worked fine, now I installed pycryptodome. But I dont understand the usage:

C:\Users\Mammu\Downloads\twist.moe\twist.moe
λ ./startp.sh https://twist.moe/a/gintama
Der Befehl "." ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

[2019-06-02 03:33] phanirithvij commented on #12
Okay on cmder you can type `bash` first then you can try it again like so

[code]

[2019-06-02 03:39] phanirithvij commented on #11
If it's windows and you're using `cmd` then it won't recognize `../` but if you have `cmder` you can type `bash` and navigate to that directory then do a `./startp.sh <anime_url>`

[2019-06-02 08:30] Mammutor commented on #12
That helped a lot, but my list.txt does not get generated:

C:\Users\Mammu\Downloads\cmder
λ cd ..

C:\Users\Mammu\Downloads
λ cd twist.moe

C:\Users\Mammu\Downloads\twist.moe
λ cd twist.moe

C:\Users\Mammu\Downloads\twist.moe\twist.moe
λ bash
Mammu@DESKTOP-47HLKLT ~/Downloads/twist.moe/twist.moe
λ ./startp.sh https://twist.moe/a/gintama
making it https://twist.moe/a/gintama/1
Fetching info...
../

[2019-06-02 10:14] phanirithvij commented on #12
So python3 is not in your path.
Now you can fix this by:
1. Running `./setup.sh`
2. Then go to `api.sh` and change `python3` to `python`
It should look like this:
[code]
You can copy/paste the above code in `api.sh`

This is how it should look:
![Screenshot (12)](https://user-images.githubusercontent.com/29627898/58759799-7bf2da80-854d-11e9-8048-da98ba82e35b.png)

[2019-06-02 10:55] Mammutor commented on #12
Mammu@DESKTOP-47HLKLT ~/Downloads/twist.moe/twist.moe
λ ./setup.sh
Python is installed
Python 3 is not installed
Crypto, hashlib for python installed
Mammu@DESKTOP-47HLKLT ~/Downloads/twist.moe/twist.moe
λ ./startp.sh https://twist.moe/a/gintama
making it https://twist.moe/a/gintama/1
Fetching info...
C:\Users\Mammu\AppData\Local\Programs\Python\Python37-32\python.exe: can't open file '../jsonP.py

[2019-06-02 11:07] Mammutor commented on #12
Creating gintama/list.txt
copying download.sh to gintama
Done
Check the Anime folder
Enjoy
You like this anime?
Me too!!
Mammu@DESKTOP-47HLKLT ~/Downloads/twist.moe/twist.moe
λ cd Anime/gintama
Mammu@DESKTOP-47HLKLT ~/Downloads/twist.moe/twist.moe/Anime/gintama
λ ./download.sh
Total no of episodes : 367
Enter 'a' for all episodes
start at:
1
end at:
3
./download.sh: line 31: wget: command not foun

[2019-06-02 12:52] phanirithvij commented on #12
Okay, you don't have wget or curl

Try this answer from a SuperUser post

https://superuser.com/a/134687

[2019-06-02 12:54] phanirithvij commented on #12
I'm sorry you're facing this many issues.
But please note that this will improve the project a lot and will also help future users.
Thanks for sharing me this instead of simply deleting it and using something else.
I really appreciate it.

[2019-06-02 14:52] Mammutor commented on #12
Mammu@DESKTOP-47HLKLT ~/Downloads/twist.moe/twist.moe
λ cd Anime/gintama
Mammu@DESKTOP-47HLKLT ~/Downloads/twist.moe/twist.moe/Anime/gintama
λ ./download.sh
curl is installed yes
Total no of episodes : 367
Enter 'a' for all episodes
start at:
1
end at:
3
curl: (3) [globbing] bad range in column 34
curl: (3) [globbing] bad range in column 34
curl: (3) [globbing] bad range in column 34
Mammu@DESKTOP

[2019-06-16 19:14] Areahints opened #13 "Resume Broken Download"
Does your library have resume support?

[2019-06-17 04:45] phanirithvij commented on #13
Yes it does. I use `wget -c` and `curl -C` which should ideally continue from where it's left off.
Let me know if it didn't work for you.

[2019-06-21 08:44] Areahints commented on #13
i guess the issue is from my side. the downloader created mp4 files that were 0kb in size. perhaps bad internet connection?

[2019-06-21 11:12] phanirithvij commented on #13
It happened to me a while ago and I fixed it. Can you try downloading again
after doing a git pull.

On Fri, Jun 21, 2019, 2:14 PM Areahints <notifications@github.com> wrote:

[2019-07-18 17:31] Drownney opened #14 "Can't use setup command to run Python"
I was able to install pycryptodome, but when I type ./setup.sh to install Python, cmder does not recognize it as a command or anything.
![Picture1](https://user-images.githubusercontent.com/53056470/61478793-50db1380-a960-11e9-93b2-e582604bc71c.png)

[2019-07-18 19:41] Drownney commented on #14
Quick update:
I was able to clone anime twist but I can't still run ./setup.sh
![Picture1](https://user-images.githubusercontent.com/53056470/61486787-445fb680-a972-11e9-9c2b-465a747d9f07.png)

[2019-07-20 05:06] phanirithvij commented on #14
You need to open bash in cmder.
You can first type `bash` then try setup.sh

[2019-07-20 05:10] phanirithvij commented on #13
Were you able to download after doing a git pull?

[2019-07-20 11:25] phanirithvij commented on #14
This is how it would look
![usage](https://user-images.githubusercontent.com/29627898/61578109-2b403c80-ab0f-11e9-9db3-aab05afd56e0.png)

[2019-07-28 18:24] nhx26 opened #15 "UnicodeDecodeError"
Whenever I run ./startp.sh <anime link> I get a UnicodeDecodeError.
list.txt is not generated in the anime folder

EDIT: Changing the AES key in decrypt.py fixes this.
New key is "LXgIVP&PorO68Rq7dTx8N^lP!Fa5sGJ^*XK"

![image](https://user-images.githubusercontent.com/19762130/62011222-60d7cc00-b186-11e9-94b3-06debd992226.png)

[2019-07-28 19:13] nhx26 commented on #15
Ok, so it seems that the AES key has changed...
I changed it to '"XgIVP&PorO68Rq7dTx8N^lP!Fa5sGJ^*XK" in decrypt.py and it worked fine.

[2019-07-28 20:19] phanirithvij commented on #15
Thanks for informing me. I'll update it.

On Mon, Jul 29, 2019, 12:43 AM nomad1 <notifications@github.com> wrote:

[2019-07-28 21:37] #15 closed, assigned to phanirithvij

[2019-07-29 16:00] phanirithvij commented on #14
Were you able to do it?

[2019-08-01 08:01] Areahints commented on #13
I wasn't.

i ran `git pull origin master`

navigate to Anime folder and run `./download.sh`

[code]

i tried the link, it extracted in Uget and it worked fine. the file size is monstrous (500+mb) is there a way to determine filesize of anime, or select to download from a smaller mirror like chiaanime,

[2019-08-01 08:11] phanirithvij commented on #13
Twist.moe is the only site that this downloads from. It has very big
videos. If you want to download from another sites use
https://github.com/vn-ki/anime-downloader

On Thu, Aug 1, 2019, 1:31 PM Areahints <notifications@github.com> wrote:

[2019-08-01 08:22] #13 closed, assigned to nobody

[2019-08-01 21:30] SkrillzPlayz commented on #12
Hello, I'm having this issue and don't know how to solve

$ ./download.sh
curl is installed: yes
cat: list.txt: No such file or directory
Total no of episodes : 0
Enter 'a' for all episodes
start at:
9
end at:
24
**cat: list.txt: No such file or directory**

there is no "list.txt" but there is a "list.sh" in the folder

[2019-08-03 11:46] phanirithvij commented on #12
You should go inside `Anime/anime_name/` then use `./download.sh`.

Doing `./download.sh` in `twist.moe/` will not download the anime.

[2019-08-03 11:47] phanirithvij commented on #10
Closing this as there's no response for about 2 months

[2019-08-03 11:47] #10 closed, assigned to nobody

[2019-08-03 11:47] phanirithvij commented on #11
This was fixed two months ago.

[2019-08-03 11:47] #11 closed, assigned to phanirithvij

[2019-08-03 11:48] phanirithvij commented on #12
And please go a `git pull` before using this as I've updated the code.

[2019-08-07 13:46] phanirithvij commented on #12
@SkrillzPlayz were you able to resolve it?

[2019-08-07 15:41] SkrillzPlayz commented on #12
I gave up 5 days ago......

[2019-08-07 15:48] phanirithvij commented on #12
Well, I posted a solution if you'd like to use it again.

[2019-08-22 09:30] #12 closed, assigned to phanirithvij

[2019-08-22 09:30] #14 closed, assigned to nobody

[2019-08-22 10:42] 9HitCode opened #16 "Download error (OSError: Cannot load native module)"
I've spent a couple hours retrying and redoing it but i seem to be stuck in this error everything is installed properly. But don't know what is the cause of the problem

[code]
<details>
<summary>Traceback</summary>

[code]

</details>

[code]

[2019-08-22 10:47] 9HitCode commented on #16
It might be because of
[code]

But as I mentioned I've restarted and clean installed  - Python, Git Bash, CMDER and the repository
Still scratching my head on what I have done wrong.

[2019-08-22 14:44] phanirithvij commented on #16
Thanks for reporting I started a fix, you can expect it to work soon.

On Thu, Aug 22, 2019 at 4:17 PM 9HitCode <notifications@github.com> wrote:

[2019-08-22 16:15] phanirithvij commented on #16
I fixed it.
Just remove that directory (folder) `twist.moe` and do the repository part git clone and `./setup.sh` again.

You need not install `cmder`, `git bash`, `python` again that's a waste of time.

Let me know if you have any more issues.
You can close this issue if it was solved for you

[2019-08-22 16:21] phanirithvij commented on #16
The structure of the modules `Crypto`, `pycrypto`,  `pycryptodome`,  `pycryptodomex` are the cause of this problem.

[2019-08-22 21:28] 9HitCode commented on #16
I'm still not able to make it work

[code]

When proceeding to the download.sh I get this error
[code]

[2019-08-22 21:41] 9HitCode commented on #16
I've Tried it in my other PC same error :(

[2019-08-23 06:58] phanirithvij commented on #16
I've fixed that too.
Try it again.

[2019-08-23 13:34] 9HitCode commented on #16
So did it again. Came up with this error

[code]

BUT after executing download.sh so far its downloading properly. Just thought of adding the error just in case.

[2019-09-06 07:41] phanirithvij commented on #16
@9HitCode That error is not important for now consider it as a warning instead of an error. Closing this.

[2019-09-06 07:41] #16 closed, assigned to phanirithvij

[2019-09-11 22:04] sagaya opened #17 "Is the JSON file being updated"
I saw the JSON file in the documentation https://raw.githubusercontent.com/phanirithvij/Myanimewebsite/master/twistlinks.json i just want to know if this file is being updated with the latest twist.moe anime's and episodes, this will be very useful.

[2019-09-12 00:52] phanirithvij commented on #17
No it's not up to date. I lost the code to generate it. I keep forgetting about it. I will update it soon.
Please remind me by adding a comment here when you read this.

[2019-09-12 08:02] sagaya commented on #17
Okay, please update it thank you. Also if you could explain how you generated it, it will be so helpful

[2019-09-15 19:03] sagaya commented on #17
Hi, please are don't forget to update the JSON file.

[2019-09-16 08:40] phanirithvij opened #18 "Storage"
This is a storage for this repo.

[2019-09-16 08:41] phanirithvij commented on #18
[twist.moe.zip](https://github.com/phanirithvij/twist.moe/files/3615315/twist.moe.zip)

[2019-09-16 08:46] phanirithvij commented on #18
Readme:
[all.zip](https://github.com/phanirithvij/twist.moe/files/3615322/all.zip)
[all-p.zip](https://github.com/phanirithvij/twist.moe/files/3615323/all-p.zip)

[2019-09-16 08:48] phanirithvij commented on #17
I did it.
Do a `git pull` and then,
[code]

[2019-09-16 08:48] phanirithvij commented on #17
Close this issue if it works.

[2019-09-16 09:48] sagaya commented on #17
The format of the output json is different from the one in the REAMDE

[2019-09-16 10:17] sagaya commented on #17
It will be really helpful if you can format it like the README one, i already started using it in a script and i have downloaded close to 1,000 animes don't want to have to start all over again.

[2019-09-16 13:22] phanirithvij2000 commented on #17
You can write a script to change the json to that format pretty easily.

On Mon, Sep 16, 2019, 3:47 PM Sagaya Abdulhafeez <notifications@github.com>
wrote:

[2019-09-16 14:01] sagaya commented on #17
Thank you.

[2019-10-06 19:02] OfficialCRUGG commented on #1
Still occurring for me. On both Windows with Git Bash and Ubuntu 19
![Screenshot from 2019-10-06 21-04-55](https://user-images.githubusercontent.com/25248999/66274275-13aa6180-e87d-11e9-9682-552fdb517428.png)

[2019-10-07 04:58] phanirithvij commented on #1
Please do `git pull` in the `TwistMoeDownloader` directory and also tell me what the output of `startp.sh gabriel-dropout` is.

[2019-10-07 11:54] OfficialCRUGG commented on #1
Here is my Windows Output:
![image](https://user-images.githubusercontent.com/25248999/66309373-c6c09c80-e909-11e9-83fa-4a3107e35098.png)
I don't know why it says that the cryptodome module isn't existing, even though I've installed it.

Linux Output (Ubuntu 19)
![Screenshot from 2019-10-07 13-57-49](https://user-images.githubusercontent.com/25248999/66309699-8dd4f780-e90a-11e9-90b6-4dca3d58a518.p

[2019-10-07 13:14] phanirithvij2000 commented on #1
I was able to replicate it. Let me try and figure it out.

On Mon, Oct 7, 2019, 5:24 PM CRUGG <notifications@github.com> wrote:

[2019-10-16 20:09] phanirithvij commented on #1
Hey @OfficialCRUGG how did you install the cryptodome?
You should only do it via `pip install pycryptodomex`
If you have installed it in any other way please uninstall those.
Like `pip uninstall pycrypto crypto cyptodome pycryptodome`
None of those should be installed.

[2019-10-16 20:12] phanirithvij commented on #1
And I also made some recent changes, do a `git pull` before downloading it again.

[2019-10-18 05:57] Karkoon opened #19 "Non-portable IFs used in dl.sh"
Hi.

The IF statements use a non-portable way of checking conditions. I'm not sure but I think that double brackets don't work for sh but it also didn't work for me, even though I use zsh.

I think it's because there wasn't a shebang at the start of the file and it must have fallen back to the POSIX standard and failed to execute the script.

So, after adding

    #!/bin/bash

to dl.sh it worked n

[2019-10-18 13:46] phanirithvij commented on #19
Oh, I see. You can send a PR if you like to or I can fix it.

On Fri, Oct 18, 2019, 11:27 AM Karkoon <notifications@github.com> wrote:

[2019-11-09 12:46] phanirithvij commented on #19
made them all `#!/bin/bash`.

[2019-11-09 12:46] #19 closed, assigned to nobody

[2019-11-30 04:39] #1 closed, assigned to phanirithvij

[2019-11-30 04:40] phanirithvij commented on #18
This is not an issue

[2019-12-23 17:07] ghost opened #20 "list.txt is not getting generated."
This seems to be a big issue, why?

[2019-12-23 17:07] ghost commented on #20
Also many people have this problem.

[2019-12-23 17:08] ghost commented on #1
Yeah BS, you fixed shit. Still doesnt work.
Edit yes i got it wrong person, nice.

[2019-12-23 17:16] ghost opened #21 "Make this an usable Program"
pls

[2019-12-24 02:37] phanirithvij commented on #20
Thanks for reporting. I'll try and reproduce it and if I'm able to reproduce it I'll fix it.

[2019-12-24 02:40] phanirithvij commented on #21
What do you mean by making this a usable program?
Please reopen this and explain briefly.
Or If you're talking about making it work again because of issue #20 as I said I'll try and fix it.

[2019-12-24 02:43] phanirithvij commented on #20
Btw paste the output of `./setup.sh` and `./startp.sh`

[2019-12-24 03:15] ghost commented on #21
No i meant as an .exe file

[2019-12-24 03:15] KoroFX commented on #20
what

[2019-12-24 03:16] KoroFX commented on #20
Ima do that later , Enjoy the Holidays.

[2019-12-24 03:32] ghost commented on #20
![image](https://user-images.githubusercontent.com/46395233/71391888-4fe09900-2606-11ea-98b4-ca302499abba.png)
![image](https://user-images.githubusercontent.com/46395233/71391917-6dadfe00-2606-11ea-9bee-b4f03c4e4166.png)

[2019-12-24 03:34] ghost commented on #20
and download.sh prints this
![image](https://user-images.githubusercontent.com/46395233/71391982-b5348a00-2606-11ea-99d2-af7a05186e26.png)

[2019-12-24 03:36] ghost commented on #20
Btw #21 is meant to be as an Python executable file.

[2019-12-24 03:46] ghost commented on #20
Hey i fixed it by installing it to my second drive.
![image](https://user-images.githubusercontent.com/46395233/71392419-38a2ab00-2608-11ea-85fa-0112ed0682f4.png)
Maybe cuz it was installing into the system32 folder and had not the rights to write n stuff.

[2019-12-24 03:57] phanirithvij commented on #20
It is working for me. The `list.txt` is getting generated, and the download is successful as well.
You must've forgot to run `setup.sh`.

[2019-12-24 04:00] phanirithvij commented on #21
I'll try to do it later.

[2019-12-24 04:01] phanirithvij commented on #20
I just noticed I had the same error on windows. I will try and fix it

[2019-12-24 04:20] ghost commented on #20
As i sayd you need to install this in another dir like documents/ or in my Case Z:\Twist Downloader

[2019-12-24 04:21] ghost commented on #20
If its directly in system32 (default / path git dir) its restricted by Windows and its hard to reach when finished the download.

[2019-12-24 04:22] ghost commented on #20
that fixed it for me.
![image](https://user-images.githubusercontent.com/46395233/71393553-57577080-260d-11ea-9ad3-f36e1492fad6.png)

[2019-12-24 04:24] KoroFX commented on #21
in the meanwhile i wrote this batchfile to start the downloader in a more lazy way :D
-
@echo off
cd "Twist Downloader/Crunching Things"
start /wait startp.sh
set /p var=Anime Url Name
cd "Anime/%var%"
start download.sh
quit

[2019-12-24 04:27] ghost commented on #20
I close this, just put a warning for windows users to install this into an seperate folder with:
cd C:/foldername
git clone https://github.com/phanirithvij/twist.moe.git

[2019-12-24 04:27] #20 closed, assigned to nobody

[2019-12-24 04:27] ghost commented on #20
I made an new error as the Downloader doesnt get the Filename only the episode as "-Number" as show above.

[2019-12-24 04:30] ghost opened #22 "Episode Names Wrong/Missing"
Either its Twist.Moe-00 or only -00 ....
![image](https://user-images.githubusercontent.com/46395233/71393758-612da380-260e-11ea-8199-8b7875e66236.png)
![image](https://user-images.githubusercontent.com/46395233/71393768-6854b180-260e-11ea-81d9-050a90ab1bbd.png)

[2019-12-24 04:32] ghost commented on #21
But enjoy the Christmas Days and dont work to much on this in the Holidays.

[2019-12-28 04:41] phanirithvij commented on #1
@KoroFX I suggest you stop using those words.

This isn't some paid service.

[Message](https://user-images.githubusercontent.com/29627898/71538977-8c8bf780-295a-11ea-97fa-e7f7bd5197ed.png) in case you delete it.

[2019-12-28 04:44] ghost commented on #1
Lol @phanirithvij i wrote this on the wrong thread i got confused with the twist downloaders, yours is actually working.
Im sorry that wasnt meant for you.

[2019-12-28 04:46] KoroFX commented on #1
And why do you link it in your message 🤣
Am i that important so everyone sees that i misstok your program with somebody elses ?

[2019-12-28 05:21] phanirithvij commented on #22
This will be fixed by completely taking bash out of the picture. And re writing this in python or dart.

[2019-12-28 05:22] ghost commented on #22
Please if you rewrite this, rewrite it directly as an exe file like requested in my other thread

[2019-12-28 05:22] #22 closed, assigned to nobody

[2019-12-28 05:28] phanirithvij commented on #21
Please don't close this. I'll forget about it.

[2019-12-28 05:29] ghost commented on #21
Well ok then,you said you want to rewrite it in phyton and now you think you forget about it xD

[2019-12-28 15:55] phanirithvij commented on #21
@KoroFX I'd like you to test it on windows and report any issues if possible https://github.com/phanirithvij/twist.moe/releases/tag/v0.1.3

[2019-12-28 16:07] ghost commented on #21
Sure mate will do when im back home.
Thanks for your effort inadvance.

[2019-12-29 02:24] ghost commented on #21
Hmm weird, you made a twist file and a twist.exe file.
i downloaded both just in case and executed the exe file.
-
That happend and the Folder got Created but instead of starting downloading it just does nothing.
![image](https://user-images.githubusercontent.com/46395233/71551578-af65ec80-29ea-11ea-94e4-e30e77fa968e.png)

[2019-12-29 02:26] KoroFX commented on #21
Im now installing dart and will execute the command you provided and will test then.
(dart2native lib/main.dart -o bin/twist)

[2019-12-29 02:29] KoroFX commented on #21
![image](https://user-images.githubusercontent.com/46395233/71551605-66626800-29eb-11ea-8d40-9a63c0bf13c8.png)
ehrm, i suppose dart2native is to make a dart script an executable and that command is not meant for us xd

[2019-12-29 05:13] phanirithvij commented on #21
I've still not implemented the downloading part. Just wanted to know before
doing it whether this dart executable would work on other systems. And the
downloading part right now uses wget or curl which are meant for those kind
of things. I'll see what I can do to implement it.

On Sun, 29 Dec 2019, 07:59 KoroFX, <notifications@github.com> wrote:

[2019-12-30 06:05] phanirithvij commented on #21
As of now, there are two things required, `download.sh` and `twist.exe`.
It is flexible to fetch links and download later because of this.
You are requesting a single executable.
I'm going to implement something like:

[code]

But I don't like using it like this. So I'm still going to let the `download.sh` stay.
I will implement it today and push a new release.

@KoroFX how would you like to acces

[2019-12-30 09:04] ghost commented on #21
Entering the url and automatically get ask which episodes to you want, then start downloading.

[2019-12-30 09:04] ghost commented on #21
No step inbetween or --dl --start solution.
Entering url get ask which episodes and start.

[2019-12-30 09:05] ghost commented on #21
So yeah a single executable but without the -- stuff.

[2019-12-30 17:44] phanirithvij commented on #21
If you use frequently, the prompts will become annoying. And the code also
becomes ugly. But don't worry I'll implement it.

On Mon, 30 Dec 2019, 14:35 KoroFX, <notifications@github.com> wrote:

[2020-01-01 04:17] ghost commented on #21
ill wait for your post here when you implemented the download feature, until then your og tool will be okay. @phanirithvij

[2020-01-08 06:37] ghost commented on #21
@phanirithvij when do you implement the download feature into the dart exe ?

[2020-01-08 06:40] #21 closed, assigned to nobody

[2020-01-08 06:42] ghost opened #23 "Implement the Download feature into the dart Version"
Mate your dart version is Unedited since 11 Days, you said you gonna make it Work Properly with Download Features directly build into it or without the -- stuff.
Are you still gonna do it or is this a depricated project ?

[2020-01-08 19:17] phanirithvij commented on #23
Use it with the --stuff for now. For prompts use `dl.sh`. I won't be working on it anytime soon.

[2020-01-08 19:17] #23 closed, assigned to nobody

[2020-01-22 17:48] 9HitCode opened #24 "Updated it and got the same issue last time"
$ ./startp.sh kono-yuusha-ga-ore-tueee-kuse-ni-shinchou-sugiru
URL: https://twist.moe/a/kono-yuusha-ga-ore-tueee-kuse-ni-shinchou-sugiru
making it https://twist.moe/a/kono-yuusha-ga-ore-tueee-kuse-ni-shinchou-sugiru/1
Fetching info...
rm: cannot remove '.temp.txt': No such file or directory
Traceback (most recent call last):
  File "../jsonP.py", line 5, in <module>
    sources = json.load(sys.std

[2020-01-23 11:23] phanirithvij commented on #24
Thanks for reporting. Download the twist.exe from the releases for now while I fix this.

[2020-01-23 11:39] phanirithvij commented on #24
It's here https://github.com/phanirithvij/twist.moe/releases

[2020-01-23 16:42] 9HitCode commented on #24
Hey dude, just wanted to say great work on this downloader.
I've tried different kind of anime batch downloader and they don't work as efficiently as yours or they feel very clunky and doesn't download HD. So anyways I'm getting an ERROR 403:Forbidden when trying to download links from Twist.moe, they may have stopped third-party downloads.

So it might not be the source code fault.  Anyways just

[2020-01-27 05:28] phanirithvij commented on #24
Thanks for reporting. I'm currently sick right now. I will get back to
making it work right after I recover.

On Thu, 23 Jan 2020, 22:12 9HitCode, <notifications@github.com> wrote:

[2020-02-06 10:42] phanirithvij commented on #24
Hi, I checked it and it is working fine on my system.

[code]

[2020-02-14 23:45] p-dimi commented on #24
I had the same error at first.
You need to have the requirements installed:
[code]

I misread the requirements instructions originally and installed pycrypto. That was wrong.
Make sure you have exactly pycryptodomex.

Once I did that everything was fine.
Just make sure you have the right requirements installed and don't be a dummy like me & misread what the comment says.

[2020-02-15 05:07] phanirithvij commented on #24
That must be it. Thanks for clarifying it @p-dimi I'll make sure to update the readme.

[2020-02-18 11:07] 9HitCode commented on #24
Sorry for the really late reply, as for the requirements I already had them all downloaded but for some reason it stopped working. Anyways working perfectly now, might have been some errors from Twsit.moe side Thanks by the way!

[2020-02-18 11:07] #24 closed, assigned to nobody

[2020-04-29 18:41] ulysseslc opened #25 "Cat command missing "list.txt""
When I type ./download.sh twist.moe/Anime/kimetsu-no-yaiba into Cmder, it asks me to put in where I want to start downloading episodes from, and I put in the range, but at the end of the text it says "cat: list.txt: No such file or directory".
![image](https://user-images.githubusercontent.com/64553077/80633910-90727800-8a27-11ea-8f6b-b3627c76f1f9.png)

[2020-04-30 06:18] phanirithvij commented on #25
Can you do an `ls -l` in that directory and see if list.txt is there

[2020-04-30 16:11] ulysseslc commented on #25
The only file in /Desktop/cmder/twist.moe/Anime/kimetsu-no-yaiba is download.sh
![image](https://user-images.githubusercontent.com/64553077/80733495-c3764380-8adb-11ea-9fbf-aff84c8d6fc7.png)

[2020-04-30 16:12] ulysseslc commented on #25
The only file in that directory is download.sh
![image](https://user-images.githubusercontent.com/64553077/80733567-e274d580-8adb-11ea-8144-05591e2f0157.png)

[2020-05-01 12:57] phanirithvij commented on #25
from the `twist.moe` directory run `./startp.sh kimetsu-no-yaiba` and show the output here.

[2020-05-02 23:21] ulysseslc commented on #25
That generated a list.txt file for me and now I can run ./download.sh thank you! Is there a way I could possibly speed up the download speed because it starts downloading at my normal download speed but falls down to below a kilobyte sometimes

[2020-05-03 14:30] phanirithvij commented on #25
Download speed depends on the twist.moe server and your internet connection. Nothing we can do.

[2020-05-03 14:30] #25 closed, assigned to nobody

[2020-05-11 20:39] Mammutor opened #26 "Permission denied"
I have an Issue where i dont get the list.txt
I think because of the "Permission denied"

Mammu@DESKTOP-RQPGT3I MINGW64 ~/twist.moe (master)
$ ./startp.sh gintama
URL: https://twist.moe/a/gintama
making it https://twist.moe/a/gintama/1
Fetching info...
rm: cannot remove '.temp.txt': No such file or directory
../api.sh: line 9: /c/Users/Mammu/AppData/Local/Microsoft/WindowsApps/python3: Permission

[2020-05-13 04:49] phanirithvij commented on #26
Hi have you installed python3? The python path that's in your error message
seems like it is the one shipped with windows. Please install the latest
version of python3 and add it to your PATH. Detailed instructions here.
https://docs.python.org/3/using/windows.html#windows-full

On Tue, 12 May 2020, 02:10 Mammutor, <notifications@github.com> wrote:

[2020-05-13 13:26] Mammutor commented on #26
![FdRD1pl](https://user-images.githubusercontent.com/44206081/81818087-dbaf7f00-952d-11ea-9529-3d021735e3e2.png)
I have the latest version and I checked the mark and I see it there in PATH

[2020-05-14 06:12] phanirithvij commented on #26
Ok, can you do a `where python` and let me know the results?
After that, you need to modify the api.sh file to use the newly installed
python instead of that `.../WindowsApps/python3` one.

On Wed, May 13, 2020 at 6:56 PM Mammutor <notifications@github.com> wrote:

[2020-05-18 11:46] Mammutor commented on #26
What is `where python` and how i execute it? And I dont understand what I have to modify in the api.sh

[2020-05-19 03:28] phanirithvij commented on #26
You can fix the issue in two ways

In cmd (search cmd in windows search) or cmder (if you have installed it) run the command `where python` and also run `where python3` these commands will show all the python installations in your system. Then in the `twist.moe` directory that you cloned you can see `api.sh` when you do an `ls -l` in cmd or cmder. Open the file using notepad or some text editor an

[2020-05-19 04:12] Mammutor commented on #26
I have removed the `C:\Users\Mammu\AppData\Local\Microsoft\WondowsApps`. The first way does not work:

Mammu@DESKTOP-RQPGT3I ~/twist.moe (master)
λ where python
bash: where: command not found

So I hope that I got I now right.
![N5AC09m](https://user-images.githubusercontent.com/44206081/82283722-79280a00-9997-11ea-96e1-98a54e81535e.png)

But I have now a different problem.

Mammu@DESKTOP-RQPGT3I

[2020-05-20 04:22] phanirithvij commented on #26
Ok open the api.sh file in the twist.moe directory using notepad and change python3 to `py` everywhere

[2020-05-22 00:42] Mammutor commented on #26
same issue
![c4rNo3B](https://user-images.githubusercontent.com/44206081/82619302-de693e80-9bd5-11ea-9ca3-ca7c05ff164b.png)
I also tried the setup command and i get this
![P79Yv0r](https://user-images.githubusercontent.com/44206081/82620368-9a2b6d80-9bd8-11ea-8b14-34a235181b28.png)
Just looked up the error. I saw that command and I remember that you have said something about an "where python" comm

[2020-05-22 04:52] phanirithvij commented on #26
Ok go to that C:\Users\..Python\Python38 and do an `ls` see if python.exe exists

[2020-05-22 10:24] Mammutor commented on #26
I also searched manually bit i didnt found python.exe. So I looked up where my python.exe is. and its in C:\Users\Mammu\AppData\Local\Programs\Python\Python38-32.
![C038NFg](https://user-images.githubusercontent.com/44206081/82658363-23699100-9c27-11ea-80a5-cc6dbe58a8ac.png)
And in Python38-32 `ls` works well.
![tLapRWx](https://user-images.githubusercontent.com/44206081/82658468-4eec7b80-9c27-11e

[2020-05-22 17:36] phanirithvij commented on #26
Did you install 32 bit python version by mistake? Install the 64 bit version after checking that your system is 64 bit. [Google](https://www.google.com/search?q=check+if+64+bit&oq=check+if+64&aqs=chrome.2.69i57j0l3.6223j0j7&client=ms-android-oppo&sourceid=chrome-mobile&ie=UTF-8). If it is 32 bit which I don't it is, add that ...python38-32 thing to path.

Make sure you install this if your system

[2020-05-22 19:00] Mammutor commented on #26
Yeah it was an acciedent. I have now also a Python Launcher installed. And I added it to PATH. Now I get a different message
![rqhZnYR](https://user-images.githubusercontent.com/44206081/82700807-3902a900-9c6f-11ea-9616-0c6a39dc6751.png)
I also changed the api.sh back to normal like on the file on github and did the same
![a6U0iga](https://user-images.githubusercontent.com/44206081/82701182-f42b42

[2020-05-23 11:49] phanirithvij commented on #26
Ok this is a new issue. I'll look into it. In the mean time try to use https://github.com/phanirithvij/twist.moe/releases/download/v0.1.3/twist.exe

[2020-05-23 12:47] Mammutor commented on #26
I downloaded it and put the exe in the twist.moe folder. Now it created the list.txt and now I can download.
![9pHMLtm](https://user-images.githubusercontent.com/44206081/82731038-5a61a480-9d04-11ea-90a9-63a24dd33509.png)

[2020-08-05 22:39] #26 closed, assigned to nobody

[2020-08-11 18:18] jenozin opened #27 "Help"
Hey, not an issue, just wanted to ask how do I access twist's content so I can download it? If I inspect the page I get the video URL is (for example) "https://twistcdn.bunny.sh/anime/onepiece/[HorribleSubs] One Piece - 011 [1080p].mp4"
But I can't access the video, I get 404 not found error.

Thanks

[2020-08-12 05:03] phanirithvij commented on #27
They are preventing downloading video using the url so you need to provide cookies and headers to let their server think a browser is requesting the video. That's what I'm doing in my script

[2020-08-12 05:06] phanirithvij commented on #27
In short you can only do this programmatically not possible via normal tools so can't watch the video because they want us watch in the website itself and prevent others from uploading the anime on other websites.
Good thing twist.moe doesn't have ads as it's run on donations.

[2020-08-12 05:13] jenozin commented on #27
Ah! I'll try to figure out how to do that! Thanks

[2020-08-12 05:14] jenozin commented on #27
Yeah, makes sense. It is a great website, quality content. I was trying to get One Piece to watch during trips

[2020-08-12 05:33] khalisafkari commented on #27
@jenozin You can add referrer in header

[2020-08-29 16:31] Buchelaruzit commented on #27
Okay, and how do you do that? Sorry I don't know anything about all that stuff

[2020-10-03 09:10] DishankJ opened #28 "How do I use it to search an anime directly?"

[2020-10-08 10:02] phanirithvij commented on #28
Didn't implement tat feature because there's no search api from twist.moe. But there is however the anime project I mentioned in the readme which shows results from much more sites and also is active, it can also download from twist.moe. I suggest using it for the time being.

[2021-01-10 13:08] vivian-ng commented on #17
Sorry to bring this up on a closed thread, but I got this error when using `python3 allanime.py filename.json`

[code]

Any idea how to solve it?

[2021-01-13 05:11] phanirithvij commented on #17
@vivian-ng I'm not in a place where there's a good network so I need some time to take a look at this. But I will. Please remind me in 2 days if possible.

[2021-01-16 16:40] vivian-ng commented on #17
@phanirithvij Thanks for taking time to look into this issue.

[2021-01-17 05:37] vivian-ng opened #29 "Unable to get anime information using startp.sh"
`startp.sh` seems to be having problems trying to get the information through the API.
[code]

For example, this seems to give an empty reply.
[code]

[2021-01-17 14:00] FilipAndersson245 commented on #29
the new access-token seem to be 0df14814b9e590a1f26d3071a4ed7974

[2021-01-18 02:38] vivian-ng commented on #29
Should be fixed by this [PR#30](https://github.com/phanirithvij/twist.moe/pull/30).
@phanirithvij Please review the PR, thank you.

[2021-01-18 16:31] phanirithvij commented on #29
Closed by #30

[2021-01-18 16:31] #29 closed, assigned to nobody

[2021-01-19 00:06] vivian-ng commented on #17
@phanirithvij `python3 allanime.py filename.json` still gives the same error, if you can share information on how the JSON file is requested and built, I can try to find out what is the problem.

[2021-01-20 16:14] phanirithvij commented on #18
[new.json.gz](https://github.com/phanirithvij/twist.moe/files/5843720/new.json.gz)
[new.min.json.gz](https://github.com/phanirithvij/twist.moe/files/5843721/new.min.json.gz)

[2021-01-20 16:59] phanirithvij commented on #28
TODO

- query anime list
- cache it
- search in the list
- if not found retry by querying again
- cache newly fetched
- if found cool else no such anime

also [fuzzysearch](https://github.com/seatgeek/fuzzywuzzy)

[2021-01-22 15:29] phanirithvij commented on #28
Hey, implemented some part of it. you can try with `python allanimenew.py` then `python search.py <term>`

[2021-01-24 09:57] phanirithvij commented on #17
@vivian-ng sorry I forgot to reply here, check the new `allanimenew.py` file, but note that for now, it only fetches the anime info from their API link. ~Episode links are NOT queried.~ implemented

[2021-01-24 10:54] phanirithvij commented on #17
@vivian-ng Also the json format is different from the previous version, and if you need backward compatibility like OP you can write a simple script to convert it.

[2021-01-24 11:08] vivian-ng commented on #17
@phanirithvij Thank you for solving it. The script now uses the fixed output file `new.json` and `new.min.json` even if a filename is specified as an argument. But at least it can download the json file now. Hurray!

[2021-02-08 19:57] ashleney opened #32 "No auto-retry"
Recently twist.moe got really susceptible to losing connection which raises a `curl: (56) OpenSSL SSL_read: Connection was reset, errno 10054` error.
I currently have to run the script again every time it loses connection, which is not ideal, so I recommend adding an auto-retry for these kinds of errors.

[2021-02-11 02:51] phanirithvij commented on #32
You can use aria2c for eg. or if curl has auto retry options please make a PR if possible.

[2021-07-06 11:06] #18 closed, assigned to nobody

[2021-11-08 21:59] orophix opened #36 "Download all"
Is there a way to download everything automatically?

[2022-01-07 10:47] phanirithvij commented on #36
No, you can use the python scripts provided, and with some changes, you can do it.

[2022-01-07 10:47] #36 closed, assigned to nobody

[2022-01-07 10:48] #28 closed, assigned to phanirithvij